<!-- templates/account/login.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}Sign In{% endblock title %}

{% block content %}
<div class="container">
  <p>
  <h2>Log In</h2>
  <form class="col-md-6" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <a class="button secondaryAction mr-2" href="{% url 'account_reset_password' %}">Forgot Password?</a>
    <button class="primaryAction btn btn-primary" type="submit">Sign In</button>
    <a class="btn btn-info" href="javascript:window.history.back()">Cancel</a>
    <p class="text-muted mt-2">OR</p>
    <a class="btn btn-dark" href="{% provider_login_url 'github' %}">Continue with GitHub</a>
  </form>
  </p>
</div>
{% endblock content %}
