{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}Log In{% endblock title %}

{% block content %}
  <h3>Log in to your Django Polls account</h3>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit">Log In</button>
  </form>
  <p class="text-left text-muted">OR</p>
  <a class="btn btn-dark" href="{% provider_login_url 'github' %}">Continue with GitHub</a>
  <p class="text-center mt-3">
    New to Django Polls?
    <a href="{% url 'account_signup' %}">Sign Up</a>
  </p>
{% endblock content %}
