{% extends "account/base.html" %}
{% load static %}

{% block title %}
  Polls List
{% endblock title %}

{% block inner %}
  <div class="container">
    <p>
      {% if latest_question_list %}
        <h2>Django polls</h2>
        <ul>
          {% for question in latest_question_list %}
            <li>
              <a href="{% url 'poll_detail' question.id %}">{{ question.question_text }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="text-muted">
          <em>No polls are currently available.</em>
        </p>
      {% endif %}
    </p>
  </div>
{% endblock inner %}
